#ImageNN - requirements
#Проект использует внешние библиотеки:
keras==3.13.0           #Для работы с файлами сохранений формата HDF5
matplotlib==3.10.8      #Для работы с графиками потерь
numpy==2.3.5            #Для работы с тензорами
pillow==12.0.0          #Для работы с фото
pytest==8.4.2           #Для тестирования

#Также используются встроенные в язык Python библиотеки:
#   -sys
#Для работы с командной строкой
#   -os
#Для работы с путями
#   -math
#Для работы с математическими функциями
#   -random
#Используется для случайной установки весов перед обучением
#   -types
#Для проверки типа данных
#   -abc, abstractmethod
#Для создания методов родительского класса ActiationBase