#ImageNN - requirements
#Проект использует внешние библиотеки:

keras==3.10.0         #Для работы с файлами сохранений формата HDF5
matplotlib==3.9.4  #Для работы с графиками потерь
numpy==1.26.4          #Для работы с тензорами
pytest==8.4.2           #Для тестирования

#Также используются встроенные в язык Python библиотеки:
#   -sys
#Для работы с командной строкой
#   -os
#Для работы с путями
#   -math
#Для работы с математическими функциями
#   -random
#Используется для случайной установки весов перед обучением
#   -types
#Для проверки типа данных
#   -abc, abstractmethod
#Для создания методов родительского класса ActiationBase
#   -pillow
#Для работы с фото